extends ../layout.pug

block content
  p.
    Well done, #{name}!
  p.
    Your expense claim has been sent to your accounting department successfully. 
      Please wait for their process.
      In the mean time, you can check the status any time.