extends ../layout.pug

block content
  p.
    Congratulation, #{employeeName}!
  p.
    A reimbursement payment for your expense has been marked as Paid by your accountant. Detail:
  p Trip: #{tripName}
  p Payment date: #{paymentDate}
  p Payment amount: #{paymentAmout}