extends ../layout.pug

block content
  div.banner
    img(
      alt=""
      src="https://cdn2.hubspot.net/hub/6193707/hubfs/business-travel.jpg?width=550&name=business-travel.jpg")

  h2 Congratulation!
  p.
    Your new account has been created successfully.
  p.
    Please set your new password via this link:
  a(class='link' href= link) #{link}
  p.
    The link will be expire next 1 hour.