extends ../layout.pug

block content
  
  p.
    Congratulation!
  p.
    Your new account has been created successfully.
  p.
    Please set your new password via this link:
  a(href= link) #{link}
  p.
    The link will be expire next 1 hour.
  p.
    If you have any questions, please contact our Travel Concierge for support.