extends ../layout.pug

block content

  h2 Congratulation!
  p.
    Your new account has been created successfully.
  p.
    Please set your new password via this link:
  a(class='link' href= link) #{link}
  p.
    The link will be expire next 1 hour.