extends ../layout.pug

block content
  div.banner
    img(
      alt=""
      src="https://cdn2.hubspot.net/hub/6193707/hubfs/business-travel.jpg?width=550&name=business-travel.jpg")

  h2 Hello, #{name}!

  p.
    You are receiving this because you (or someone else)
    have requested the reset of the password for your account.
  p.
    Please click on the following link,
    or paste this into your browser to complete the process:
  a(class='link' href= resetLink) #{resetLink}
  p.
    The link will be expire next 1 hour.
  p.
    If you did not request this,
    please ignore this email and your password will remain unchanged.
