extends ../layout.pug

block content
  p.
    Well done, #{name},
  p.
    Your trip request has been submitted successfully. Our system shall let you know immediately once the your request is approved or not.