extends ../layout.pug

block content
  p.
    Hello, #{name}!
  p.
    Unfortunately, your trip request has been rejected with the following reason: #{message}
  p.
    Please consider to edit your trip & submit again, or it will be auto closed in 03 days.
          Still need help?
          Please feel free to contact us if you have any questions, comments or suggestions.
          - Happy travels,
          - The EzBizTrip team