extends ../layout.pug

block content
  div.banner
    img(
      alt=""
      src="https://cdn2.hubspot.net/hub/6193707/hubfs/business-travel.jpg?width=550&name=business-travel.jpg")

  h2 Well done, #{name}!
  
  p.
    Your trip request has been submitted successfully. Our system shall let you know immediately once the your request is approved or not.