extends ../layout.pug

block content
  div.banner
    img(
      alt=""
      src="https://cdn2.hubspot.net/hub/6193707/hubfs/business-travel.jpg?width=550&name=business-travel.jpg")

  h2 Congratulation, #{name}!
  p.
    Your trip request has been approved with the following budget limit: #{budget}.
    Please book your trip while the deal is still available.

  p.text-center
    a(class='btn' href= bookLink) Book now